.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: aqua;
    padding: 20px;
    border-radius: 5px;
}

@media screen and (max-width:760px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 460px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}