
* {
    background: linear-gradient(45deg, rgba(255,99,71,.5), rgba(255,159,64,.5));}

section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

h1 {
    background: linear-gradient(to right, #007bff, #6610f2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

button {
    transition: background-color .3s ease;
}

button:hover {
    background-color: green;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

button {
    animation: pulse 2s infinite;
}

img {
    animation: rotate 10s infinite linear;
    border-radius: 100%;
}

img:hover {
    opacity:.1 2s;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}