section > p:first-child {
    font-weight: bold;
    color: cornflowerblue;
}

ul li:first-child{
    font-weight: bold;
}

table tr:hover{
    background-color: bisque;
}

audio:focus, video:focus, audio:hover, video:hover {
    outline: 2px solid palevioletred;
    cursor:pointer;
}

img {
    border-radius: 5px; /*higher the number the more round the image*/
}

a:hover {
    text-decoration: underline;
    color: rgb(158, 7, 7);
}

a:visited {
    color: rgb(21, 55, 167);
}

button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}

/* Form settings */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
    
}

button[type="reset"],
button[type="submit"]
{
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

